:root {
  --primary: #fff;
}

.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary--solid {
  background-color: var(--primary);
  color: #4379c9;
  border: 1px solid var(--primary);
}

.btn--outline {
  background-color: rgb(17, 226, 215);
  color: rgb(0, 0, 0);
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--large:hover,
.btn--medium:hover {
  transition: all 0.3s ease-out;
  background: rgb(32, 180, 182);
  color: #fff;
  transition: 250ms;
  transform: translateY(-6px);
}
