.container {
    color: rgb(21, 230, 220);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1px;
}

.container > h3 {
    margin-top: 100px;
  
  }