.navbar {
  background-color: rgb(202, 190, 190);
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  width: 100vw;
  position: absolute;
  top: 0;
}

.nav-logo {
    /* background-color: aqua; */
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 30%;
    height: 100%;
    text-decoration: none;
}

.nav-list {
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    width: 70%;
    height: 100%;
    list-style: none;
}

/* .nav-item {

} */

.nav-links {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu-icon {
    display: none;
  }

.fa-bars {
    color: #fff;
  }

  @media screen and (max-width: 960px) {
    html,body {
      overflow-x: hidden;
      /* overflow-y: hidden; */
    }
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 20%);
      font-size: 1.8rem;
      cursor: pointer;
    }
   
    .fa-xmark {
      color: #fff;
      font-size: 2rem;
    }

    .nav-list {
      display: flex;
      flex-direction: column;
      width: 100vw;
      height: 93vh;
      top: 7vh;
      position: absolute;
      left: 100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-list.active {
      background: rgb(2, 2, 21);
      left: 0;
      right: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
      height: 100vh;
    }
  
    .nav-item {
      background-color: rgb(11, 17, 38);
      width: 50vw;
      height: 10vh;
      display: flex;
      flex-direction: row;
      position: relative;
    }

    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 50vw;
      display: flex;
      flex-direction: row;
      /* background-color: rgb(163, 40, 40); */
      position: relative;
      /* align-items: center; */
      justify-content: center;
      /* height: 60px; */
    }
  
    .nav-item:hover {
      background-color: rgb(0, 0, 0);
    }

    .nav-links:hover {
      background-color: rgb(3, 3, 70);
      border-radius: 2rem;
    }
  
}
  