nav {
    background-color: rgb(0, 0, 0);
    height: 7vh;

}

.nav-container {
    /* background-color: antiquewhite; */
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.nav-logo {
    /* background-color: aqua; */
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 2%;
    width: 100%;
    text-decoration: none;
    height: 100%;
}

.nav-list {
    /* background-color: blue; */
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    height: 100%;
}

.nav-item {

}

.nav-links {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu-icon {
    display: none;
  }

.fa-bars {
    color: #fff;
  }

  @media screen and (max-width: 960px) {

  
    .nav-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 80px;
        left: 100%;
        opacity: 1;
        transition: all 0.5s ease;
    }
  
    .nav-list.active {
      background: rgb(2, 2, 21);
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  
    .nav-item {
        height: 200px;
    }

    .nav-links {
      padding: 2rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: rgb(13, 30, 72);
      position: absolute;
      text-decoration: none;
      left: 0;
      text-align: center;
    }
  
    .nav-links:hover {
      background-color: rgb(25, 236, 239);
      color: #688c90;
      border-radius: 0;
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-xmark {
      color: #fff;
      font-size: 2rem;
    }
  
    .nav-links-mobile {
      display: block;
      text-align: center;
      margin: 2rem auto;
      border-radius: 4px;
      width: 80%;
      text-decoration: none;
      font-size: 1.5rem;
      background-color: rgb(11, 10, 10);
      color: rgb(25, 236, 239);
      padding: 14px 20px;
      border: 1px solid rgb(5, 128, 66);
      transition: all 0.3s ease-out;
      position: relative;
      top: -500%;
    }
  
     .nav-links-mobile:hover {
      background: rgb(25, 236, 239);
      color: #000000;
      transition: 250ms;
    }
}
  